:root {
  --color-white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --font-family-base: "Outfit";
  --font-family-accent: "YoungSerif";
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/outfit/static/Outfit-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/outfit/static/Outfit-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YoungSerif";
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base), sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--stone-600);
  background-color: var(--stone-100);
}

h1 {
  font-size: 38px;
  color: var(--stone-900);
}

h2 {
  color: var(--brown-800);
}

h1,
h2 {
  font-family: var(--font-family-accent), serif;
  font-weight: 600;
  margin-bottom: 20px;
}

h2.accent {
  font-family: var(--font-family-base), sans-serif;
  color: var(--rose-800);
  margin-bottom: 15px;
}

ul,
ol {
  list-style-type: none;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-block: 150px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  max-width: 740px;
  padding: 60px;
  background-color: var(--color-white);
  border-radius: 30px;
}

.recipe-card__wrapper {
  display: contents;
}

.recipe-card__image-wrapper {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.recipe-card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.recipe-preparation {
  padding: 30px;
  background-color: var(--rose-50);
  border-radius: 20px;
}

.recipe-preparation__list {
  display: grid;
  row-gap: 10px;
}

.recipe-preparation__item,
.recipe-ingredients__item {
  position: relative;
  padding-left: 30px;
}

.recipe-preparation__item::before,
.recipe-ingredients__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: var(--rose-800);
  border-radius: 50%;
}

.recipe-ingredients,
.recipe-instructions {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--stone-150);
}

.recipe-ingredients__item::before {
  background-color: var(--brown-800);
}

.recipe-ingredients__list {
  display: grid;
  row-gap: 10px;
  padding-left: 5px;
}

.recipe-instructions__list {
  display: grid;
  row-gap: 15px;
  counter-reset: item;
}

.recipe-instructions__item {
  position: relative;
  padding-left: 35px;
  counter-increment: item;
}

.recipe-instructions__item::before {
  content: counter(item) ".";
  position: absolute;
  left: 4px;
  top: 10%;
  transform: translateY(-10%);
  width: 20px;
  font-weight: 600;
  color: var(--brown-800);
}

.recipe-nutrition__description {
  margin-bottom: 15px;
}

.recipe-nutrition__table {
  width: 100%;
  border-spacing: 0;
}

.recipe-nutrition__table strong {
  color: var(--brown-800);
}

.recipe-nutrition__table-cell {
  padding-block: 10px;
}

.recipe-nutrition__table-row:not(:last-child) .recipe-nutrition__table-cell {
  border-bottom: 1px solid var(--stone-150);
}

@media screen and (max-width: 480px) {
  .content {
    padding: 0;
  }

  .recipe-card {
    padding: 0;
    border-radius: 0;
  }

  .recipe-card__wrapper {
    display: grid;
    row-gap: 30px;
    padding-inline: 20px;
  }

  .recipe-card__image-wrapper {
    border-radius: 0;
  }
}
